server {
    listen 443 ssl;
    server_name api.edumatch.space;

    ssl_certificate /etc/letsencrypt/live/api.edumatch.space/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/api.edumatch.space/privkey.pem;

    resolver 127.0.0.11 valid=30s;
    ignore_invalid_headers off;
    underscores_in_headers on;
    server_tokens off;
    proxy_http_version 1.1;

    location /swagger-ui/ {
        proxy_pass http://swagger-ui:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /customer/ {
        proxy_pass http://customer;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /profile/ {
        proxy_pass http://profile;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /media/ {
        proxy_pass http://media;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /notification/ {
        proxy_pass http://notification;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /subscription/ {
        proxy_pass http://subscription;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /scholarship/ {
        proxy_pass http://scholarship;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /search/ {
        proxy_pass http://search;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /payment/ {
        proxy_pass http://payment;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /report/ {
        proxy_pass http://report;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /backoffice/ {
        proxy_pass http://backoffice-nextjs:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /edufront/ {
        proxy_pass http://edufront-nextjs:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https; 
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /grafana/ {
        proxy_pass http://grafana:3000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
        # WebSocket support for live updates
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /prometheus/ {
        proxy_pass http://prometheus:9090/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /loki/ {
        proxy_pass http://loki:3100/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /tempo/ {
        proxy_pass http://tempo:3200/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /identity/ {
        proxy_pass http://identity;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        if ($uri ~ "^(.*)/(protocol/openid-connect/auth|login/oauth2/code)(.*)") {
            add_header Access-Control-Allow-Origin *;
        }
    }
}

server {
    listen 80;
    server_name api.edumatch.space;

    location / {
        return 301 https://$host$request_uri;
    }
}